doctype html
html(lang="fr")
  head
    link(rel="apple-touch-icon" sizes="180x180" href="https://www.preprod.makeorg.tech/apple-touch-icon.png")
    link(rel="apple-touch-icon" sizes="180x180" href="https://www.preprod.makeorg.tech/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="https://www.preprod.makeorg.tech/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="https://www.preprod.makeorg.tech/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display:400i" rel="stylesheet")
    title= title
    meta(name="theme-color" content="#ffffff")
    meta(charset="utf-8")
    meta(itemprop="name" content=title)
    meta(itemprop="description" content="Proposez, votez, agissons : ensemble, trouvons des solutions aux grandes problématiques actuelles. Les plus soutenues seront mises en action par Make.org et ses partenaires.")
    meta(itemprop="image" content="https://uploads-ssl.webflow.com/598345cdee443e00013ae603/59a526e0a1a95c0001f8ca11_make.png")
    meta(property="og:title" content="title")
    meta(property="og:description" content="Proposez, votez, agissons : ensemble, trouvons des solutions aux grandes problématiques actuelles. Les plus soutenues seront mises en action par Make.org et ses partenaires.")
    meta(property="og:headline" content="title")
    meta(property="og:image" content="https://uploads-ssl.webflow.com/598345cdee443e00013ae603/59a526e0a1a95c0001f8ca11_make.png")
    meta(name="twitter:card" content="summary")
    meta(property="twitter:title" content="Make.org, accélérateur d'intérêt collectif")
    meta(property="twitter:description" content="title")
    meta(property="twitter:image" content="https://uploads-ssl.webflow.com/598345cdee443e00013ae603/59a526e0a1a95c0001f8ca11_make.png")
    meta(content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport")
    script(async src="https://www.googletagmanager.com/gtag/js?id=AW-819115721")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-97647514-1")
    link(href="http://localhost:9019/styles/main.css" rel="stylesheet")
    link(href="/stylesheets/style.css" rel="stylesheet")

  body
    block content
      #make-app
